<!DOCTYPE html>
<html>
  {{template "base/header.html.tmpl" .}}
  <body>
    {{template "base/navbar.html.tmpl" .}}
    <div class="uk-section-primary uk-preserve-color">
      <div class="uk-section-large">
        <div class="uk-container">
          <div
            class="uk-margin uk-card uk-card-default uk-card-hover uk-card-body"
          >
          {{- if .Admin }}
            <div class="uk-card-title">
            Create User
            </div>
            <hr class="uk-divider" />
            <div>
              <form method="POST">
                <div class="uk-margin">
                  <p> Email: </p>
                  <input type="text" name="{{ .FormInputEmail }}" class="uk-input" />
                  <p> Password: </p>
                  <input type="password" name="{{ .FormInputPassword }}" class="uk-input"/>
                </div>
                <input
                  type="submit" class="uk-button uk-button-primary" value="{{ .FormBtnAction }}" />
              </form>
            </div>
          </div>
          {{- end }}
          <div
             class="uk-margin uk-card uk-card-default uk-card-hover uk-card-body"
          >
            <div class="uk-card-title">Member List <span class="uk-badge">{{- len .Users}}</span></div>
            {{- range .Users }}
            <p>{{ .Email}}</p>
            {{- end}}
          </div>
        </div>
      </div>
    </div>
    {{template "base/footer.html.tmpl" .}}
  </body>
</html>
