<!DOCTYPE html>
<html>
  {{template "base/header.html.tmpl" .}}
  <body>
    {{template "base/navbar.html.tmpl" .}}
    <div class="uk-section-primary uk-preserve-color">
      <div class="uk-section-large">
        <div class="uk-container">
          <div
            class="uk-margin uk-card uk-card-default uk-card-hover uk-card-body"
          >
            <div class="uk-card-title">
              <span class="uk-text-light">http://go/</span><span class="uk-text-bold">{{ .Link.Key }}</span>
            </div>
            <hr class="uk-divider" />
            <form method="POST">
              <div class="uk-margin">
                <select class="uk-select" name="{{ .FormInputVersion }}">
                  <option{{ if eq .Link.Version 0 }} selected{{ end }} value="0">v0</option>
                  <option{{ if eq .Link.Version 1 }} selected{{ end }} value="1">v1</option>
                  <option{{ if eq .Link.Version 2 }} selected{{ end }} value="2">v2</option>
                </select>
              </div>
              <div class="uk-margin">
                <input
                  class="uk-input"
                  type="text"
                  name="{{ .FormInputPayload }}"
                  placeholder="http(s)://....."
                  value="{{ .Link.Format }}"
                />
              </div>
              <input
                type="submit" class="uk-button uk-button-primary"
                name="{{ .FormInputAction }}" value="{{ .FormSaveValue }}"
              />
              {{ if .Link.Exists }}
              <input
                type="submit" class="uk-button uk-button-danger"
                name="{{ .FormInputAction}}" value="{{ .FormDeleteValue }}"
              />
              {{ end }}
            </form>
            <div class="uk-margin-medium-top uk-text-small">
              <ul>
                <li><span class="uk-text-bold uk-text-emphasis">v0 / Basic Mode</span>
                : Simple URL redirect, e.g. <a href="https://go/{{ .Link.Key }}">https://go/{{ .Link.Key }}</a> (<code>{{ .Link.Key }} -> https://github.com</code>) -&gt; <a href="https://github.com">https://github.com</a>
                </li>
                <li><span class="uk-text-bold uk-text-emphasis">v1 / Single-Parameter Mode</span>
                : Redirect with <code>{}</code> in value replaced by text after <code>/</code> in URL path, e.g. <a href="https://go/{{ .Link.Key }}/haostudio/golinks">https://go/{{ .Link.Key }}/haostudio/golinks</a> (<code>{{ .Link.Key }} -> https://github.com/{}/issues</code>) -&gt; <a href="https://github.com/haostudio/golinks/issues">https://github.com/haostudio/golinks/issues</a>
                </li>
                <li><span class="uk-text-bold uk-text-emphasis">v2 / Multi-Parameter Mode</span>
                : The text after <code>/</code> in URL path will be separated by <code>/</code> into a list of parameters and replace <code>{0}</code>, <code>{1}</code>, <code>{2}</code> ... in value, e.g. <a href="https://go/{{ .Link.Key }}/haostudio/golinks">https://go/{{ .Link.Key }}/haostudio/golinks</a> (<code>{{ .Link.Key }} -> https://github.com/{0}/{1}</code>) -&gt; <a href="https://github.com/haostudio/golinks">https://github.com/haostudio/golinks</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{template "base/footer.html.tmpl" .}}
  </body>
</html>
