<!DOCTYPE html>
<html>
  {{template "base/header.html.tmpl" .}}
  <body>
      {{template "base/navbar.html.tmpl" .}}
      <div class="uk-section-secondary uk-section-large">
      <div class="uk-container">
      <div class="uk-container uk-padding-large">
        <div class="uk-h1 uk-text-primary"><span class="uk-text-bold">GO</span> LINKS</div>
          <div class="uk-text-muted uk-margin-large-bottom">
            Golinks is a <span class="uk-text-bold uk-text-emphasis">FREE
            <sup>1</sup></span>, public short link redirect service.
          </div>
          <!-- TODO: Add href for buttons -->
          <a href="org" class="uk-button uk-button-primary uk-button-large uk-text-bold uk-margin-right">Register Organization</a>
          <a href="org/manage" class="uk-button uk-button-default uk-button-large uk-text-bold">Add User</a>
        </div >
        <div class="uk-text-muted uk-text-small uk-text-light">
          <sup>1</sup> The free version is limited to
          <span class="uk-text-bold">50</span> users,
          <span class="uk-text-bold">500</span> links and
          <span class="uk-text-bold">5</span> redirects per second
          for each organization.
        </div>
      </div>
    </div>
    <div class="uk-section-primary uk-section">
      <div class="uk-container uk-padding-large">
        <div class="uk-h1 uk-text-primary uk-text-right">Looking for <span class="uk-text-bold">more quota?</span></div>
          <div class="uk-text-right">
             We provide both <span class="uk-text-bold uk-text-emphasis">CLOUD</span>
             and <span class="uk-text-bold uk-text-emphasis">ON-PREM</span> solutions.
          </div>
          <div class="uk-text uk-text-right">
            Contact us for more information.
          </div>
          <div class="uk-margin-large-top uk-text-right">
            <a href="mailto:golinks@haostudio.cc"
               class="uk-button uk-button-primary uk-button-large uk-text-bold">
              Enquiry
            </a>
          </div>
      </div>
    </div>
    {{template "base/footer.html.tmpl" .}}
  </body>
</html>
