<!DOCTYPE html>
<html>
  {{template "base/header.html.tmpl" .}}
  <body>
    {{template "base/navbar.html.tmpl" .}}
    <div class="uk-section-primary uk-preserve-color">
      <div class="uk-section-large">
        <div class="uk-container">
          <div
            class="uk-margin uk-card uk-card-default uk-card-hover uk-card-body"
          >
            <div class="uk-card-title">
            Create Organization
            </div>
            <hr class="uk-divider" />
            <div>
              <form method="POST">
                <div class="uk-margin">
                  <p> Organzation Name: </p>
                  <input type="text" name="{{ .FormInputName }}" class="uk-input" />
                </div>
                <input
                  type="submit" class="uk-button uk-button-primary" value="{{ .FormBtnAction }}" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{template "base/footer.html.tmpl" .}}
  </body>
</html>
