<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <a href="/" class="uk-navbar-item uk-logo">Go Links</a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a href='javascript:var r = new XMLHttpRequest();r.open("GET", "/org/logout");r.send();r.onload = function(e){window.location.href="/"}'>Log Out</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
