<div class="uk-section uk-section-muted">
  <div class="uk-container uk-padding-small">
    <div class="uk-text-uppercase uk-text-center uk-text-bold uk-text-secondary">
      GOLINKS
    </div>
    <div class="uk-text-small uk-text-center uk-text-muted">{{ .Data.BinVersion }}</div>
    <div class="uk-margin-top uk-text-small uk-text-center uk-text-muted">
      Copyright © <a href="https://github.com/popodidi">@popodidi</a>, <a href="https://github.com/CliffLin">@CliffLin</a>
    </div>
  </div>
</div>
