<div class="uk-section-primary uk-preserve-color">
<div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">
<nav class="uk-navbar-container uk-navbar-transparent uk-light" uk-navbar>
  <div class="uk-navbar-left uk-margin-large-left">
    <ul class="uk-navbar-nav">
      <li><a href="/"><span class="uk-text-bold">GO</span> LINKS</a></li>
    </ul>
  </div>
  <div class="uk-navbar-right uk-margin-large-right">
  {{- if .Ctx.AuthEnabled }}
  {{- if .Ctx.LoggedIn }}
    <ul class="uk-navbar-nav">
      <li class="uk-text-bold"><a href='/auth/logout'>LOGOUT</a></li>
    </ul>
  {{- else }}
    <ul class="uk-navbar-nav">
      <li class="uk-text-bold"><a href='/auth/login'>LOGIN / REGISTER</a></li>
    </ul>
  {{- end }}
  {{- end }}
  </div>
</nav>
</div>
</div>
